# PRACTICAL NO.04
Practice Lab Assignment:
1. Perform all the pandas operations in python.
Lab Assignment:
Read any real life dataset. Store the data into Data Frames. Identify 20 grains for the given dataset.
Implement all 20 grains using Pandas methods. The Sample Grains for Sales Dataset as:
- Which was the best month for sales? How much was earned that month?
- Which product sold the most? Why do you think it did?
- Which city sold the most products?
- What Products are most often sold together?
Self Study Assignment:
Perform advanced Data Manipulation operations

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('/content/purchase_data.csv')

In [ ]:
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215"
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001"
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
...,...,...,...,...,...,...
64,259329.0,Lightning Charging Cable,1.0,14.95,09-05-2019 19:00,"480 Lincoln St, Atlanta, GA 30301"
65,259330.0,AA Batteries (4-pack),2.0,3.84,09/25/19 22:01,"763 Washington St, Seattle, WA 98101"
66,259331.0,Apple Airpods Headphones,1.0,150.00,09/29/19 7:00,"770 4th St, New York City, NY 10001"
67,259332.0,Apple Airpods Headphones,1.0,150.00,09/16/19 19:21,"782 Lake St, Atlanta, GA 30301"
68,259333.0,Bose SoundSport Headphones,1.0,99.99,09/19/19 18:03,"347 Ridge St, San Francisco, CA 94016"

# Clean up the data!

# Drop rows of NAN

In [ ]:
# Find NAN
nan_df = data[data.isna().any(axis=1)]
display(nan_df.head())

data = data.dropna(how='all')
data.head()

    Order ID Product  Quantity Ordered  Price Each Order Date Purchase Address
36       NaN     NaN               NaN         NaN        NaN              NaN
51       NaN     NaN               NaN         NaN        NaN              NaN

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215"
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001"
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"

# TO work on date column (to handle wrong format)

In [ ]:
data = data[data['Order Date'].str[0:2]!='Or']

# Make columns correct type

In [ ]:
data['Quantity Ordered'] = pd.to_numeric(data['Quantity Ordered'])
data['Price Each'] = pd.to_numeric(data['Price Each'])

# Augment data with additional columns
Add month columnÂ¶

In [ ]:
data['Month'] = data['Order Date'].str[0:2]
data['Month'] = data['Month'].astype('int32')
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",4
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",5
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",4

# Add month column (alternative method)

In [ ]:
import datetime as dt
data['Month 2'] = pd.to_datetime(data['Order Date']).dt.month
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month 2
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",4
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",5
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",4

# Add city column

In [ ]:
def get_city(address):
    return address.split(",")[1].strip(" ")

def get_state(address):
    return address.split(",")[2].split(" ")[1]

data['City'] = data['Purchase Address'].apply(lambda x: f"{get_city(x)}  ({get_state(x)})")
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
0,176559.0,Bose SoundSport Headphones,1.0,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215",4,Boston (MA)
1,176560.0,Google Phone,1.0,600.00,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
2,176560.0,Wired Headphones,1.0,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
3,176561.0,Wired Headphones,1.0,11.99,05/30/19 9:27,"333 8th St, Los Angeles, CA 90001",5,Los Angeles (CA)
4,176562.0,USB-C Charging Cable,1.0,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",4,San Francisco (CA)

# Data Exploration!
Question 1: What was the best month for sales? How much was earned that month?

In [ ]:
data['Sales'] = data['Quantity Ordered'].astype('int') * data['Price Each'].astype('float')

In [ ]:
data.groupby(['Month']).sum()

<ipython-input-18-9f56799fde73>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(['Month']).sum()

        Order ID  Quantity Ordered  Price Each    Sales
Month
4      7335546.0             123.0      885.80  1210.76
5       353124.0               2.0      111.98   111.98
6       184076.0               1.0       14.95    14.95
8       726962.0               9.0       23.92    50.83
9      2378802.0              17.0      591.44   616.62
10      550924.0              11.0       10.67    39.69
11      740314.0              19.0       13.66    65.31
12      550635.0              17.0        8.97    50.83

# Question 2: What city sold the most product?

In [ ]:
def get_city(address):
    return address.split(",")[1].strip(" ")

data['City'] = data['Purchase Address'].apply(lambda x: f"{get_city(x)}")
data.head()
city_max=data.groupby(['City']).sum()
print(max(city_max))

Sales

<ipython-input-21-b303a3e7536c>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  city_max=data.groupby(['City']).sum()

# Question 4: What products are most often sold together?

In [ ]:
df = data[data['Order ID'].duplicated(keep=False)]

# Referenced: https://stackoverflow.com/questions/27298178/concatenate-strings-from-several-rows-using-pandas-groupby
df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))
df2 = df[['Order ID', 'Grouped']].drop_duplicates()
print(df['Grouped'])

3                             Google Phone,Wired Headphones
4                             Google Phone,Wired Headphones
18                        Google Phone,USB-C Charging Cable
19                        Google Phone,USB-C Charging Cable
30        Bose SoundSport Headphones,Bose SoundSport Hea...
                                ...
186792         34in Ultrawide Monitor,AA Batteries (4-pack)
186803              Wired Headphones,AAA Batteries (4-pack)
186804              Wired Headphones,AAA Batteries (4-pack)
186841                    Google Phone,USB-C Charging Cable
186842                    Google Phone,USB-C Charging Cable
Name: Grouped, Length: 14649, dtype: object

C:\Users\ZEALIN~1\AppData\Local\Temp/ipykernel_14640/4070466232.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))

In [ ]:
from itertools import combinations
from collections import Counter

count = Counter()

for row in df2['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

for key,value in count.most_common(10):
    print(key, value)

('iPhone', 'Lightning Charging Cable') 1005
('Google Phone', 'USB-C Charging Cable') 987
('iPhone', 'Wired Headphones') 447
('Google Phone', 'Wired Headphones') 414
('Vareebadd Phone', 'USB-C Charging Cable') 361
('iPhone', 'Apple Airpods Headphones') 360
('Google Phone', 'Bose SoundSport Headphones') 220
('USB-C Charging Cable', 'Wired Headphones') 160
('Vareebadd Phone', 'Wired Headphones') 143
('Lightning Charging Cable', 'Wired Headphones') 92

# What product sold the most? Why do you think it sold the most?

In [ ]:
product_group = all_data.groupby('Product')
quantity_ordered = product_group.sum()['Quantity Ordered']

In [ ]:
print(quantity_ordered)

Product
20in Monitor                   4129
27in 4K Gaming Monitor         6244
27in FHD Monitor               7550
34in Ultrawide Monitor         6199
AA Batteries (4-pack)         27635
AAA Batteries (4-pack)        31017
Apple Airpods Headphones      15661
Bose SoundSport Headphones    13457
Flatscreen TV                  4819
Google Phone                   5532
LG Dryer                        646
LG Washing Machine              666
Lightning Charging Cable      23217
Macbook Pro Laptop             4728
ThinkPad Laptop                4130
USB-C Charging Cable          23975
Vareebadd Phone                2068
Wired Headphones              20557
iPhone                         6849
Name: Quantity Ordered, dtype: int64

In [ ]:
prices = all_data.groupby('Product').mean()['Price Each']

In [ ]:
print(prices)

Product
20in Monitor                   109.99
27in 4K Gaming Monitor         389.99
27in FHD Monitor               149.99
34in Ultrawide Monitor         379.99
AA Batteries (4-pack)            3.84
AAA Batteries (4-pack)           2.99
Apple Airpods Headphones       150.00
Bose SoundSport Headphones      99.99
Flatscreen TV                  300.00
Google Phone                   600.00
LG Dryer                       600.00
LG Washing Machine             600.00
Lightning Charging Cable        14.95
Macbook Pro Laptop            1700.00
ThinkPad Laptop                999.99
USB-C Charging Cable            11.95
Vareebadd Phone                400.00
Wired Headphones                11.99
iPhone                         700.00
Name: Price Each, dtype: float64

[917 1st St, Dallas, TX 75001]