In [ ]:
list1=[12,34,56,76,1,3,5]
list1.sort()
print(list1)

[1, 3, 5, 12, 34, 56, 76]

In [ ]:
list1=[12,34,56,76,1,3,5]
list1.sort(reverse=True)
print(list1)

[76, 56, 34, 12, 5, 3, 1]

In [ ]:
list1=[12,34,56,76,1,3,5]
list1.reverse()
print(list1)

[5, 3, 1, 76, 56, 34, 12]

In [ ]:
list1=[12,34,56,76,1,3,5]
list1.reverse()
print(list1)
sum1=sum.list1()
print(sum1)

[5, 3, 1, 76, 56, 34, 12]

AttributeError: ignored

In [27]:
import csv
def top_5_emp(d3):
  d3.sort(key=lambda x:(x[4]),reverse=True)
  print("Sorted Data :",d3)

  print("\n\n Top1 Employee",d3[0][1])
  print(" Top2 Employee",d3[1][1])
  print(" Top3 Employee",d3[2][1])
  print(" Top4 Employee",d3[3][1])
  print(" Top5 Employee",d3[4][1])

f1= open("emp.csv","r")
f2= open("sal.csv","r")
f3= open("emp_sal.csv","w")

d1=list(csv.reader(f1,delimiter=','))
d2=list(csv.reader(f2,delimiter=','))

print("\n\nFile1 Conttents:",d1)
print("\n\nFile1 Conttents:",d2)
d3=[]
for i in range (len(d1)):
  d3.append(d1[i]+d2[i])

print(d3)
cw=csv.writer(f3)
cw.writerows(d3)

top_5_emp(d3)

print("\n\n\n\n")

d1sum=0
for i in range (len(d1)):
  d1sum=d1sum+int(d3[i][5])

print("Average of Salary",d1sum/len(d1))  


f1.close()
f2.close()
f3.close()

f=open("emp_sal.csv","r")

contents=f.read()

lines=contents.split("\n")
print("\n\n\n\n\n")
sal=[]

for l in lines :
  words=l.split(",")
  print(words)
  sal.append(words[-1])

print("Maximum salary",max(sal))
print("Minimum salary",min(sal))
print("sum of salary",sum(sal))
print("Average salary",sum(sal)/len(sal))

File1 Conttents: [['1', 'Sanvi', 'Pune'], ['2', 'Mrunmayee', 'Pune'], ['3', 'Jayesh', 'Nashik'], ['4', 'Gouri', 'Nashik'], ['5', 'Mahesh', 'Pune']]


File1 Conttents: [['1', 'Manager', '100000'], ['2', 'Sr. Manager', '150000'], ['3', 'Manager', '90500'], ['4', 'Sr. Manager', '100500'], ['5', 'Supervisor', '85000']]
[['1', 'Sanvi', 'Pune', '1', 'Manager', '100000'], ['2', 'Mrunmayee', 'Pune', '2', 'Sr. Manager', '150000'], ['3', 'Jayesh', 'Nashik', '3', 'Manager', '90500'], ['4', 'Gouri', 'Nashik', '4', 'Sr. Manager', '100500'], ['5', 'Mahesh', 'Pune', '5', 'Supervisor', '85000']]
Sorted Data : [['5', 'Mahesh', 'Pune', '5', 'Supervisor', '85000'], ['2', 'Mrunmayee', 'Pune', '2', 'Sr. Manager', '150000'], ['4', 'Gouri', 'Nashik', '4', 'Sr. Manager', '100500'], ['1', 'Sanvi', 'Pune', '1', 'Manager', '100000'], ['3', 'Jayesh', 'Nashik', '3', 'Manager', '90500']]


 Top1 Employee Mahesh
 Top2 Employee Mrunmayee
 Top3 Employee Gouri
 Top4 Employee Sanvi
 Top5 Employee Jayesh





Average of Salary 105200.0






['1', 'Sanvi', 'Pune', '1', 'Manager', '100000']
['2', 'Mrunmayee', 'Pune', '2', 'Sr. Manager', '150000']
['3', 'Jayesh', 'Nashik', '3', 'Manager', '90500']
['4', 'Gouri', 'Nashik', '4', 'Sr. Manager', '100500']
['5', 'Mahesh', 'Pune', '5', 'Supervisor', '85000']
['']
Maximum salary 90500
Minimum salary

TypeError: ignored