In [9]:
import pandas as pd

# Read the dataset
df = pd.read_csv('elcsales.csv')

# 1. What are the column names in the dataset?
column_names = df.columns.tolist()
print("Column names:", column_names)
print(df)

# 2. How many rows are there in the dataset?
num_rows = df.shape[0]
print("Number of rows:", num_rows)

# 3. How many columns are there in the dataset?
num_columns = df.shape[1]
print("Number of columns:", num_columns)

# 4. What is the total sales amount?
total_sales = df['Sale_amt'].sum()
print("Total sales amount:", total_sales)

# 5. What is the average unit price?
avg_unit_price = df[' Unit_price '].mean()
print("Average unit price:", avg_unit_price)

# 6. What is the maximum number of units sold?
max_units_sold = df['Units'].max()
print("Maximum units sold:", max_units_sold)

# 7. Which region had the highest sales?
region_highest_sales = df.groupby('Region')['Sale_amt'].sum().idxmax()
print("Region with the highest sales:", region_highest_sales)

# 8. How many different items are there in the dataset?
num_items = df['Item'].nunique()
print("Number of different items:", num_items)

# 9. What is the total sales amount for each manager?
sales_by_manager = df.groupby('Manager')['Sale_amt'].sum()
print("Sales amount by manager:")
print(sales_by_manager)

# 10. What is the total sales amount for each salesman?
sales_by_salesman = df.groupby('SalesMan')['Sale_amt'].sum()
print("Sales amount by salesman:")
print(sales_by_salesman)

# 11. What is the average unit price for each item?
avg_unit_price_by_item = df.groupby('Item')['Unit_price'].mean()
print("Average unit price by item:")
print(avg_unit_price_by_item)

# 12. What is the total sales amount for each month?
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
df['Month'] = df['OrderDate'].dt.month
sales_by_month = df.groupby('Month')['Sale_amt'].sum()
print("Sales amount by month:")
print(sales_by_month)

# 13. What is the total sales amount for each year?
df['Year'] = df['OrderDate'].dt.year
sales_by_year = df.groupby('Year')['Sale_amt'].sum()
print("Sales amount by year:")
print(sales_by_year)

# 14. What is the average unit price for each region?
avg_unit_price_by_region = df.groupby('Region')['Unit_price'].mean()
print("Average unit price by region:")
print(avg_unit_price_by_region)

# 15. What is the total sales amount for each item in the East region?
sales_by_item_east = df[df['Region'] == 'East'].groupby('Item')['Sale_amt'].sum()
print("Sales amount by item in the East region:")
print(sales_by_item_east)

# 16. What is the total sales amount for each item in the Central region?
sales_by_item_central = df[df['Region'] == 'Central'].groupby('Item')['Sale_amt'].sum()
print("Sales amount by item in the Central region:")
print(sales_by_item_central)

# 17. What is the average unit price for each manager in the West region?
avg_unit_price_manager_west = df[df['Region'] == 'West'].groupby('Manager')['Unit_price'].mean()
print("Average unit price by manager in the West region:")
print(avg_unit_price_manager_west)

# 18. What is the total sales amount for each salesman in the East region?
sales_by_salesman_east = df[df['Region'] == 'East'].groupby('SalesMan')['Sale_amt'].sum()
print("Sales amount by salesman in the East region:")
print(sales_by_salesman_east)

# 19. What is the total sales amount for each month in the Central region?
sales_by_month_central = df[df['Region'] == 'Central'].groupby('Month')['Sale_amt'].sum()
print("Sales amount by month in the Central region:")
print(sales_by_month_central)

# 20. What is the average unit price for each item in the East region?
avg_unit_price_item_east = df[df['Region'] == 'East'].groupby('Item')['Unit_price'].mean()
print("Average unit price by item in the East region:")
print(avg_unit_price_item_east)

Column names: ['OrderDate', 'Region', 'Manager', 'SalesMan', 'Item', 'Units', ' Unit_price ', 'Sale_amt']
     OrderDate   Region  Manager   SalesMan          Item  Units  Unit_price   \
0   01-06-2018     East   Martha  Alexander    Television     95     1,198.00
1      1-23-18  Central  Hermann     Shelli  Home Theater     50          500
2   02-09-2018  Central  Hermann       Luis    Television     36     1,198.00
3      2-26-18  Central  Timothy      David    Cell Phone     27          225
4      3-15-18     West  Timothy    Stephen    Television     56     1,198.00
5   04-01-2018     East   Martha  Alexander  Home Theater     60          500
6      4-18-18  Central   Martha     Steven    Television     75     1,198.00
7   05-05-2018  Central  Hermann       Luis    Television     90     1,198.00
8      5-22-18     West  Douglas    Michael    Television     32     1,198.00
9   06-08-2018     East   Martha  Alexander  Home Theater     60          500
10     6-25-18  Central  Hermann      Sigal    Television     90     1,198.00
11  07-12-2018     East   Martha      Diana  Home Theater     29          500
12     7-29-18     East  Douglas      Karen  Home Theater     81          500
13     8-15-18     East   Martha  Alexander    Television     35     1,198.00
14  09-01-2018  Central  Douglas       John          Desk      2          125
15     9-18-18     East   Martha  Alexander   Video Games     16         58.5
16  10-05-2018  Central  Hermann      Sigal  Home Theater     28          500
17    10-22-18     East   Martha  Alexander    Cell Phone     64          225
18  11-08-2018     East  Douglas      Karen    Cell Phone     15          225
19    11-25-18  Central  Hermann     Shelli   Video Games     96         58.5
20  12-12-2018  Central  Douglas       John    Television     67     1,198.00
21    12-29-18     East  Douglas      Karen   Video Games     74         58.5
22     1-15-19  Central  Timothy      David  Home Theater     46          500
23  02-01-2019  Central  Douglas       John  Home Theater     87          500
24     2-18-19     East   Martha  Alexander  Home Theater      4          500
25  03-07-2019     West  Timothy    Stephen  Home Theater      7          500
26     3-24-19  Central  Hermann       Luis   Video Games     50         58.5
27  04-10-2019  Central   Martha     Steven    Television     66     1,198.00
28     4-27-19     East   Martha      Diana    Cell Phone     96          225
29     5-14-19  Central  Timothy      David    Television     53     1,198.00
30     5-31-19  Central  Timothy      David  Home Theater     80          500
31     6-17-19  Central  Hermann     Shelli          Desk      5          125
32  07-04-2019     East   Martha  Alexander   Video Games     62         58.5
33     7-21-19  Central  Hermann      Sigal   Video Games     55         58.5
34  08-07-2019  Central  Hermann     Shelli   Video Games     42         58.5
35     8-24-19     West  Timothy    Stephen          Desk      3          125
36  09-10-2019  Central  Timothy      David    Television      7     1,198.00
37     9-27-19     West  Timothy    Stephen    Cell Phone     76          225
38    10-14-19     West  Douglas    Michael  Home Theater     57          500
39    10-31-19  Central   Martha     Steven    Television     14     1,198.00
40    11-17-19  Central  Hermann       Luis  Home Theater     11          500
41  12-04-2019  Central  Hermann       Luis  Home Theater     94          500
42    12-21-19  Central   Martha     Steven  Home Theater     28          500

       Sale_amt
0   1,13,810.00
1     25,000.00
2     43,128.00
3      6,075.00
4     67,088.00
5     30,000.00
6     89,850.00
7   1,07,820.00
8     38,336.00
9     30,000.00
10  1,07,820.00
11    14,500.00
12    40,500.00
13    41,930.00
14          250
15          936
16    14,000.00
17    14,400.00
18     3,375.00
19     5,616.00
20    80,266.00
21     4,329.00
22    23,000.00
23    43,500.00
24     2,000.00
25     3,500.00
26     2,925.00
27    79,068.00
28    21,600.00
29    63,494.00
30    40,000.00
31          625
32     3,627.00
33     3,217.50
34     2,457.00
35          375
36     8,386.00
37    17,100.00
38    28,500.00
39    16,772.00
40     5,500.00
41    47,000.00
42    14,000.00
Number of rows: 43
Number of columns: 8
Total sales amount: 1,13,810.0025,000.0043,128.006,075.0067,088.0030,000.0089,850.001,07,820.0038,336.0030,000.001,07,820.0014,500.0040,500.0041,930.0025093614,000.0014,400.003,375.005,616.0080,266.004,329.0023,000.0043,500.002,000.003,500.002,925.0079,068.0021,600.0063,494.0040,000.006253,627.003,217.502,457.003758,386.0017,100.0028,500.0016,772.005,500.0047,000.0014,000.00

TypeError: ignored