In [ ]:
import pandas as pd


df = pd.read_csv('grainsales.csv')

print(df)

      GrainName        State       City Months  Year    Sales
0          Ragi  Maharashtra     Nagpur    JAN  2023  1000000
1         Bajra       Panjab   Amritsar    FEB  2023  1500000
2          Ragi  Maharashtra     Nagpur    JAN  2023  1000000
3         Bajra       Panjab   Amritsar    FEB  2023  1500000
4          Ragi  Maharashtra     Nagpur    JAN  2023  1000000
5         Bajra       Panjab   Amritsar    FEB  2023  1500000
6          Oats     Hariyana   Gurugram  MARCH  2023  2000000
7        Sattu       Gujarat      Surat  APRIL  2023  2500000
8         Sooji   Tamil Nadu    Madurai    MAY  2023  3000000
9   Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
10        Wheat  West Bengol   Asansole   JULY  2023  4000000
11         Corn           UP     Kanpur    AUG  2023  4500000
12         Ragi  Maharashtra     Nagpur    JAN  2023  1000000
13        Bajra       Panjab   Amritsar    FEB  2023  1500000
14         Oats     Hariyana   Gurugram  MARCH  2023  2000000
15       Sattu       Gujarat      Surat  APRIL  2023  2500000
16        Sooji   Tamil Nadu    Madurai    MAY  2023  3000000
17  Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
18        Wheat  West Bengol   Asansole   JULY  2023  4000000
19         Corn           UP     Kanpur    AUG  2023  4500000
20        Sooji   Tamil Nadu    Madurai    MAY  2023  3000000
21  Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
22        Wheat  West Bengol   Asansole   JULY  2023  4000000
23         Corn           UP     Kanpur    AUG  2023  4500000
24         Ragi  Maharashtra     Nagpur    JAN  2023  1000000
25  Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
26        Wheat  West Bengol   Asansole   JULY  2023  4000000

In [ ]:
best_month = df.groupby('Months')['Sales'].sum().idxmax()
earnings = df.groupby('Months')['Sales'].sum().max()
print("The best month for sales was", best_month, "with earnings of", earnings)

The best month for sales was JULY with earnings of 16000000

In [ ]:
most_sold_product = df.groupby('GrainName')['Sales'].sum().idxmax()
print("The product that sold the most was", most_sold_product)

# We can also analyze the possible reasons for its success by looking at other factors.
# For example, we can calculate the total sales by city for the most sold product.
sales_by_city = df[df['GrainName'] == most_sold_product].groupby('City')['Sales'].sum()
most_successful_city = sales_by_city.idxmax()
print("The most successful city for selling", most_sold_product, "was", most_successful_city)

The product that sold the most was Wheat
The most successful city for selling Wheat was Asansole

In [ ]:
most_sales_city = df.groupby('City')['Sales'].sum().idxmax()
print("The city that sold the most products was", most_sales_city)

The city that sold the most products was Asansole

In [ ]:
product_combinations = df.groupby('City')['GrainName'].unique()
frequent_combinations = product_combinations.apply(lambda x: pd.Series(x).value_counts().index[0])
print("The most frequent product combinations sold together are:")
print(frequent_combinations)

The most frequent product combinations sold together are:
City
Amritsar           Bajra
Asansole           Wheat
Gurugram            Oats
Hyderabad    Brown rice
Kanpur              Corn
Madurai            Sooji
Nagpur              Ragi
Surat             Sattu
Name: GrainName, dtype: object